/* style3.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../gambar/background1.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
}
  
  /* Navbar styles */
  .navbar {
    height: 12vh; /* Use vh unit for responsive height */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add justify-content for better layout */
  }
  
  .logo {
    width: 50px;
    cursor: pointer;
  }
  
  .menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul {
    list-style: none;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 60px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    background-image: linear-gradient(to bottom, transparent 50%, #fff 50%);
    background-size: 100% 5px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    padding-bottom: 5px;
  }
  
  /* Main content styles */
  .row {
    display: flex;
    flex-wrap: wrap; /* Add flex-wrap for responsive layout */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 10vh;
  }
  
  .col {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styles */
  h1, h2 {
    margin-bottom: 10px;
    color: #fff;
  }
  
  /* Paragraph styles */
  p {
    margin-bottom: 20px;
    text-align: justify;
  }
  
  /* Button styles */
  button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .container {
      padding: 0 4%; /* Reduce padding on smaller screens */
    }
    .navbar {
      height: 10vh; /* Reduce height on smaller screens */
    }
    .row {
      flex-direction: column; /* Change flex direction on smaller screens */
    }
    .col {
      margin-bottom: 20px; /* Add margin bottom on smaller screens */
    }
    button {
      width: 100%; /* Make button full-width on smaller screens */
    }
  }